.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
@media (min-width:1300px){
  .sidebar{
    width: 200px;
    font-size: 16px;
  }
  body{
    padding-left: 225px;
  }
  .sidebar-link{
    height: 45px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-left: 9px;
  }
  .sidebar-link p{
    margin-left: 10px;
    font-size: 15px;
  }
  .Icon{
    margin-left: 15px;
    height: 10px;

  }
}
.sidebar-link:hover{
  background-color: rgb(224, 224, 224);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-text{
  font-size: 10px;
}