body{
  height: 3000px;
}
p{
  font-family: Arial;
}
.bottom-right{
  background-color: black;
  bottom: 20px;
  right: 20px;
  position: fixed;
  color: white;
}
.right-sidebar{
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  width: 100px;
  background-color: green;
  color: white;

}
.cover{
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  color: white;
}
.transperent-cover{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.modal{
  display: flex;
  align-items: center;
  background-color: white;
  width: 375px;
  height: 150px;
  border-radius: 15px;
  flex-direction: column;
  align-items: start;
  padding-left: 15px;
}
.modal-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  
}
.modal-description{
  font-size: 17px;
}
.Facebook-header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
}
.Profile{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 45px;
  justify-content: center;
}
.channel-picture{
  height: 55px;
  width: 55px;
  margin-left: 7.5px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 45px;
  justify-content: center;
}
.left{
  display: flex;
  margin-left: 70px;
}
.right{
  display: flex;
  align-items: end;
  justify-content: end;
  margin-right: 70px;
}
.name{
  margin-top: 12px;
  margin-left: 10px;
  font-weight: bold;
}
.add-friend-button{
  background-color: rgb(24, 119, 242);
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  margin-right: 3px;
}
.message-button{
  background-color: rgb(230, 230, 230);
  border: none;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
}
.Servers{
  background-color: rgb(33, 33, 33);
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 75px;
  padding-top: 15px;
}
.channels{
  background-color: rgb(55, 55, 55);
  position: fixed;
  left: 70px;
  top: 0;
  bottom: 0;
  width: 150px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.Info{
  color: white;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  align-items: start;
  margin-bottom: 0;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Plus{
  color: rgb(150, 150, 150);
  font-size: 25px;
  margin:0;
  cursor:pointer;
}
.sub-channels{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 12px;
}
.sub-channel{
  font-family: Arial;
  font-size: 16px;
  align-items: start;
  color: rgb(150, 150, 150);
  margin-top: 0;
}
