p{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.Modeltext{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
.Order{
  font-size: 16px;
}
.Delivery{
  text-decoration: underline;
  cursor: pointer;
}