p{
  font-family: Arial;
}
.thirteena{
  display: flex;
  height: 80px;
  align-items: center;
}
.Item1{
  width: 100px;
  background-color: lightblue;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.container-a{
  display: flex;
}
.Item2{
  width: 200px;
  text-align: center;
  background: lightpink;
  padding-top: 5px;
  padding-bottom: 5px;
}
.thirteenb{
  display: flex;
}
.empty{
  height: 80px;
  width: 150px;
  background-color: lightpink;
}
.rows{
  display: flex;
  background-color: lightblue;
  flex-direction: column;
  margin: 0;
}
.row1, .row2{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.row2{
  margin-top: -20px;
}
.row2-text2{
  margin-left: 50px;
}
.row2-text1,.row2-text2{
  background-color: black;
  color: white;
}
.thirteenc, .thirteend{
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 15px;
  width: 360px;
  margin-bottom: 25px;
}
.Cat-circle{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 40px;
  margin: 0;
}
.IMG{
  display: block;
  margin: 0;
  margin-right: 10px;
}
.Content{
  display: flex;
  margin: 0;
}
.Inboxes{
  display: flex;
  margin: 0;
  margin-bottom: 10px;
}
.Text{
  margin: 0;
  line-height: 5px;
}
.Promotions{
  display: flex;
  margin-top: 0px;
  font-weight: bold;
  font-size: 15px;
}
.Time{
  font-weight: normal;
  margin-left: 110px;
  color: rgb(163, 163, 163);
  font-size: 13px;
}
.Time2{
  font-weight: normal;
  margin-left: 175px;
  color: rgb(163, 163, 163);
  font-size: 13px;
}
.Time3{
  font-weight: normal;
  margin-left: 200px;
  color: rgb(163, 163, 163);
  font-size: 13px;
}
.Sales{
  margin-top: 0px;
  font-weight: bold;
  font-size: 14px;
}
.Message{
  font-weight: normal;
  color: rgb(148, 148, 148);
  font-size: 13px;
}

